  body {
    margin-top: 100px;
  }

  #content, #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #rbuttons {
    margin-top: 20px;
  }

  #rbuttons input, .col-lg-6{
    margin: 10px;
  }

  label {
    font-size: 20px;
    font-weight: 400;
  }
