body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

dt {
  padding-top: 10;
  padding-bottom: 10;
}

.query {
  width: 300;
  padding: 5;
  font-size: 15;
}
