<!DOCTYPE html>
<html>
<head>

  <!-- JQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <!-- Material -->
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>

  <link rel="stylesheet" href="static/css/example.css">
  <script src="static/js/example.js"></script>

</head>
<body>
  <div class="container">
    <div class="query-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h6>Nombre consulta</h6>
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect play">
          <i class="material-icons">play_arrow</i>
        </button>
      </div>
      <div class="mdl-card__supporting-text mdl-card--border">
        <div class="query-card-content">
          <span>
            Una muy pequeña descripción.
          </span>
          <button
            class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect arrow"
          >
            <i class="material-icons">keyboard_arrow_down</i>
          </button>
        </div>
        <div class="query-card-code">
          <span>SELECT * FROM mytable;</span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
