{% extends "layout.html" %}

{% block content %}
  {% for db, query, result in results %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{query}}</h3>
    </div>
    <div class="panel-body">
      {% if db == "postgres" %}
      <table class="table table-bordered">
        <tbody>
          {% for tuple in result %}
            <tr>
              {% for element in tuple %}
                <td>{{ element }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        {% for tuple in result %}
          {% for element in tuple %}
            <p>
              <b>{{element}}</b>: {{tuple[element]}}
            </p>
          {% endfor %}
        <hr />
        {% endfor %}
      {% endif %}

    </div>
  </div>
  {% endfor %}
{% endblock %}
