{% extends "layout.html" %}

{% block content %}
  <div class="container">
    {% for index, (db, query) in results %}
    {% if db=="postgres"%}
      {% set algomuysucio = 'onClickQuery("{}","{}","{}")'.format(index, db, query) %}
    {% else %}
      {% set algomuysucio = "onClickQuery('{}','{}','{}')".format(index, db, query) %}
    {% endif%}
    <div class="panel panel-default query-container" onclick="{{algomuysucio}}">
      <div class="panel-body">{{index}} - {{db}} - {{query}}</div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
