{% extends "layout.html" %}

{% block content %}
<ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
  <li><a href="#">Regular link</a></li>
  <li class="disabled"><a href="#">Disabled link</a></li>
  <li><a href="#">Another link</a></li>
</ul>


  <div>
    <form action="/" method=post id=form>
      <h2>Some header</h2>
      {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
      <div class="col-lg-6">
        <div class="input-group">
          <input
            name=query
            type="text"
            class="form-control"
            placeholder="Enter a query..."
          >
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search</button>
          </span>
        </div>
      </div>

      <div id="rbuttons">
        <input type="radio" name="db" value="mongo" checked>
          <label>MongoDB</label><br>
        <input type="radio" name="db" value="postgres">
          <label>PortgreSQL</label><br>
      </div>

    </form>
  </div>

{% endblock %}
